body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  text-align: center;
  padding: 50px;
  background-image: url('/images/WeuJang-bg-login.png');
}

.login-box {
  background: var(--normal-yellow);
  padding: 2rem;
  border-radius: 10px;
  border: var(--border-10);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.login-box button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* 약한 그림자 효과 */
  transition: background-color 0.2s, box-shadow 0.2s;
}

.login-box button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  /* 호버 시 조금 더 진한 그림자 */
}

.logo {
  width: 200px;
}

.login-links {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

.login-links a {
  text-decoration: none;
  color: #555;
  margin: 0 0.5rem;
}

.login-links a:hover {
  text-decoration: underline;
}

.login-links span {
  color: #ccc;
}

@media (max-width: 480px) {
  .login-box {
    padding: 1.5rem;
  }
}