
<div class="sort-container">
  <!-- 정렬 옵션 -->
  <select id="sort-select" class="sort-select">
    <option value="">등록순</option>
    <option value="wrongCnt">하트순</option>
  </select>
</div>
<div id="index-sticker-list" class="index-sticker-list"></div>
<div class="note-container">
    <div class="meta">
        <span class="spanHeart"> <img src="/images/heart-empty.png" alt="틀림" class="img-heart">
        </span>
        <span class="hint-btn" data-hint="힌트">❓</span>
    </div>
    1. <span class="spanTextLefts">문제</span>
    <div class="settings-icon">
        <img src="/images/dots.png" alt="설정">
        <!-- 팝업 메뉴 -->
        <div class="dots-menu" style="display: none;">
            <p>문제 편집</p>
            <p>문제 삭제</p>
            <p>북마크 적용</p>
        </div>
    </div>
    <div class="divider"></div>
    <p class="answer spanTextRigths">정답</p>
    <div class="answer-actions">
        <button class="edit-save-btn hidden">저장</button>
        <button class="edit-cancel-btn hidden">취소</button>
    </div>
</div>

<div id="hint-popup" class="hint-popup" style="display: none;">
    <div class="hint-content"></div>
</div>