<body>
  <h2>카드 일괄 등록</h2>
  <form id="uploadCardsForm" action="/note/upload" method="post" enctype="multipart/form-data">

    <!-- 기존 수첩 선택 -->
    <label>저장할 수첩 선택</label>
    <select class="inputBox" name="note_id" id="noteSelect" required>
      <% notes.forEach(note=> { %>
        <option value="<%= note.note_id %>">
          <%= note.title %>
        </option>
        <% }) %>
    </select>
    <button class="btn" type="button" id="addNoteBtn">수첩 추가</button>

    <div class="content-box">
      <label>엑셀 업로드</label><p class="pMsg">* 북마크는 최대 10개까지만 적용됩니다.</p>
      <button id="downloadExcelBtn" class="btn">엑셀 샘플 다운로드</button>
      <input class="inputBox" id="file" type="file" name="excelFile" accept=".xlsx, .xls" required />
      <button class="btn" type="submit">업로드</button>
    </div>
  </form>

  <!-- 팝업 (모달) -->
  <div id="noteModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModal">&times;</span>

      <form id="noteForm">
        <input class="inputBox" id="title" name="title" type="text" placeholder="제목" required />

        <label for="template">템플릿</label>
        <select class="inputBox" id="template" name="template" required>
          <option value="filp">플립</option>
          <option value="text">텍스트 박스</option>
          <option value="split">분할</option>
        </select>

        <button class="btn" type="submit">생성</button>
      </form>
    </div>
  </div>
</body>