.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.fab-menu {
  position: absolute;
  bottom: 70px;
  right: 0;
  background: var(--normal-yellow);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: none;
  flex-direction: column;
  padding: 10px 0;
  min-width: 140px;
}

.fab-menu a {
  padding: 10px 16px;
  text-decoration: none;
  color: #333;
  display: block;
  white-space: nowrap;
}

.fab-menu a:hover {
  background-color: var(--shadow-15);
}

.add-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fdfcf7;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-button:hover {
  background-color: var(--shadow-15);
}

.add-button img {
  width: 45px;
  height: 45px;
}

.add-button.active {
  background-color: #7c7c7c65;
}