<!-- 우측 하단 + 버튼 -->
<div class="fab-container">
  <a class="add-button" id="fab-button" href="#">
    <img src="/images/pencil.png" alt="+">
  </a>

  <!-- 팝업 메뉴 -->
  <div class="fab-menu" id="fab-menu">
    <a href="/add_note">📒 수첩 생성</a>
    <a href="/add_card">📝 문제 등록</a>
    <a href="/upload_cards">🗂️ 문제 일괄 등록</a>
    <a href="/exam_edit">💯 모의고사</a>
  </div>
</div>

<script src="/js/common/footer.js"></script>