<nav class="side-menu" id="sideMenu">
  <div class="menu-header">
    <div id="menuToggle" class="menu-toggle">☰</div>
    <a href="/main" class="home-button" title="메인으로 이동">🏠</a>
  </div>
  <ul>
    <a class="link" title="학습기록" href="/history/log">
      <li>
        <p class="icon">📝</p>
        <span class="label">학습기록</span>
      </li>
    </a>
    <a class="link" title="가림판 선택" href="/cover/list">
      <li>
        <p class="icon">✨</p>
        <span class="label">가림판 설정
        </span>
      </li>
    </a>
    <a class="link" title="공지사항" href="/notice/notice">
      <li>
        <p class="icon">📢</p>
        <span class="label">공지사항</span>
      </li>
    </a>
    <a class="link goMain" title="메인으로 이동" href="/main">
      <li>
        <p class="icon">🏠</p>
      </li>
    </a>
  </ul>
</nav>